:root { 
    --senai-blue: #005ca9; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Telão (Desktop): Trava o scroll */
@media (min-width: 768px) {
    body {
        overflow: hidden;
    }
}

/* Mobile: Permite rolar para ver o histórico */
@media (max-width: 767px) {
    body {
        overflow-y: auto;
    }
}

#current-ticket {
    line-height: 0.9;
    letter-spacing: -0.02em;
}

#current-name {
    word-wrap: break-word;
    max-width: 90%;
}